@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

h1 {
  font-size: max(36px, 10.8vw);
  font-weight: 100;
}

h2 {
  font-size: max(24px, 5vw);
  font-family: 'Cormorant Infant', serif;
  font-weight: 400;
  margin: 0;
}

.scroller {
  height: 100vh;
}

.header {
  /* border: 1px solid red; */
  font-family: 'Cormorant Infant', serif;
  line-height: 1.2;
  place-self: center;
}

.first {
  position: relative;
  height: 800vh;
}

.header__holder {
  height: 100vh;
  display: grid;
}

.letters {
  display: inline-block;
  white-space: break-spaces;
  vertical-align: middle;
}

.word,
.word2 {
  display: block;
  overflow: hidden;

}

.word2 {
  z-index: -1;
  /* margin-top: -5%; */
}

.header__background {
  position: absolute;
  top: 0px;
  z-index: -1;
  right: 0;
  width: 50vw;
  height: 100vh;
}

.header__holder__background {
  transform-origin: 100% 0%;
  transform: scale(4);
  width: 100%;
  height: 100%;
}

.anim2 {
  position: relative;
}

.anim2__img__holder {
  height: 400vh;
  overflow: hidden;
  position: relative;
  /* border: 1px solid green; */
  top: -50vh;
  /* width: 150%; */
  /* left: 0px; */
}

.i__holder {
  width: 50vw;
  height: 100vh;
}

.anim2__img1 {
  position: absolute;

  /* top: -50vh; */
  right: -50vw;
}



.anim2__img2 {
  position: absolute;
  top: 200vh;
  right: 0;
}

.anim2__img3 {
  position: absolute;
  top: 300vh;
  right: 0;
}

.anim2__header__holder {
  position: absolute;
  top: 0px;
}

.anim2__head1 {
  /* border: 1px solid blue; */
}

.anim2__head1>h2 {
  position: relative;
  top: 30vh;
  left: 5vw;
}

.anim2__head2>h2 {
  position: relative;
  top: 40vh;
  left: 5vw;
}

.anim2__head3>h2 {
  position: relative;
  top: 50vh;
  left: 5vw;
}



img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 100% 0%;
}

.desc__hedline {
  margin-top: 20vh;
  /* position: relative;
  overflow: auto; */
}

.description {
  height: 100vh;
  position: relative;
  border: 1px solid green;
}

.gap {
  height: 50vh;
}

.img__holder {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  border: 3px solid orange;
}

.hd1 {
  position: relative;
  top: 30vh;
  /* white-space: nowrap; */
  /* width: 150%; */
  /* z-index: 5; */
}

.hd2 {
  position: relative;
  top: 50vh;
}

.hd3 {
  position: relative;
  top: 70vh;
}

/* .img__holder>h2 {
  margin-top: 1vh;
  place-self: center;
} */

.h__holder {
  justify-self: end;
  height: 100vh;
  /* width: 100%; */

  /* min-width: 50vw; */
  /* transform: translateX(100%); */
}

.h__holder1 {
  /* transform: translate(100%, -50%); */
}

/* .test__div {
  height: 100vh;
  width: 100%;
  border: 3px solid orange;
} */

.desc__photos {
  overflow-x: hidden;
  /* position: absolute; */
  /* width: 100%; */
  /* overflow: hidden; */
  /* top: 70vh; */
  /* right: 0px; */
}

@media (max-width: 600px) {
  .i__holder {
    width: 100%;
    height: 70vh;
  }

  .anim2__img1 {
    position: absolute;
    right: -100vw;
  }

  .header__holder__background {
    transform-origin: 100% 0%;
    transform: scale(7.7);
    width: 100%;
    height: 100%;
  }

  .header__background {
    position: absolute;
    top: 0px;
    z-index: -1;
    right: 0;
    width: 100%;
    height: 70vh;
  }

  .anim2__head1>h2 {
    background-color: rgba(255, 255, 255, 0.37);
    padding: 5px;
    border-radius: 3px;
    line-height: 1.2;
    position: relative;
    top: 75vh;
    left: 5vw;
    max-height: 5vh;
  }

  .anim2__head2>h2 {
    background-color: rgba(255, 255, 255, 0.37);
    padding: 5px;
    border-radius: 3px;
    line-height: 1.2;
    position: relative;
    top: 80vh;
    left: 5vw;
    max-height: 5vh;
  }

  .anim2__head3>h2 {
    background-color: rgba(255, 255, 255, 0.37);
    padding: 5px;
    border-radius: 3px;
    line-height: 1.2;
    position: relative;
    top: 85vh;
    left: 5vw;
    max-height: 5vh;
  }
}