@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

h1 {
  font-size: max(36px, 10.8vw);
  font-weight: 100;
}
h2 {
  font-size: max(24px, 5vw);
  font-family: 'Cormorant Infant', serif;
  font-weight: 400;
  margin: 0;
}
.scroller {
  height: 100vh;
}

.header {
  /* border: 1px solid red; */
  font-family: 'Cormorant Infant', serif;
  line-height: 1.2;
  place-self: center;
}

.first {
  position: relative;
  height: 800vh;
}

.header__holder {
  height: 100vh;
  display: grid;
}

.letters {
  display: inline-block;
  white-space: break-spaces;
  vertical-align: middle;
}

.word,
.word2 {
  display: block;
  overflow: hidden;
  
}
.word2{
  z-index: -1;
}
.header__background {
  transform-origin: 100% 0%;
  transform: scale(3);
  position: absolute;
  top: 0px;
  z-index: -1;
  /* justify-self: end; */
  /* align-self: center; */
  height: auto;
  width: 100%;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 100% 0%;
}
.description{
  position: sticky;
  margin-bottom: 50vh;
  top: 0px;
}
.desc__holder{
  position: relative;
}
.gap{
  height: 100vh;
}